@model CRPartnerModel
@{
    Layout = null;
}

<script>
    var noc = {
        formNoc: {
            el: '#form-noc',
            $el: {},
            init: function () { },
            data: []
        },
        init: function () { }
    }

    var formNoc = noc.formNoc;
</script>

<div class="noc-detail row full-height">
    @Html.HiddenFor(m => m.CRPartnerId)
    <form id="form-noc">

        <div class="row" style="margin-bottom: 5px">
            <div class="col-md-6" style="padding: 0">
                <div class="form-group form-group-sm">
                    @Html.XBaseLabelFor(m => m.StartTimeAction, true, new { @class = "control-label col-md-5", @style = "padding-left: 40px" }, true)
                    <div class="col-md-5">
                        @Html.EditorFor(m => m.StartTimeAction, new { pickTime = true, htmlAttributes = new { style = "width: 100%", @class = "form-control" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding: 0">
                <div class="form-group form-group-sm">
                    @Html.XBaseLabelFor(m => m.RestoreTimeService, true, new { @class = "control-label col-md-5", @style = "padding-left: 40px" })
                    <div class="col-md-5">
                        @Html.EditorFor(m => m.RestoreTimeService, new { pickTime = true, htmlAttributes = new { style = "width: 100%", @class = "form-control" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 5px">
            <div class="col-md-6" style="padding: 0">
                <div class="form-group form-group-sm">
                    @Html.XBaseLabelFor(m => m.TimeMinus, true, new { @class = "control-label col-md-5", @style = "padding-left: 40px" })
                    <div class="col-md-2" style="width: 14%">
                        @Html.TextBoxFor(m => m.HourTimeMinus, new { @class = "form-control", @style = "width: 100%" })
                    </div>
                    <div class="col-md-2" style="width: 14%">
                        @Html.TextBoxFor(m => m.MinuteTimeMinus, new { @class = "form-control", @style = "width: 100%" })
                    </div>
                    <div class="col-md-2" style="width: 14%">
                        @Html.TextBoxFor(m => m.SecondTimeMinus, new { @class = "form-control", @style = "width: 100%" })
                    </div>
                </div>
            </div>

            <div class="col-md-6" style="padding: 0">
                <div class="form-group form-group-sm">
                    @Html.XBaseLabelFor(m => m.Supervisor, true, new { @class = "control-label col-md-5", @style = "padding-left: 40px" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.Supervisor, new { @class = "form-control", @style = "width: 100%" })
                    </div>
                </div>
            </div>

            <div class="col-md-6" style="padding: 0">
                <div class="form-group form-group-sm">
                    @Html.XBaseLabelFor(m => m.OverTimeRegister, true, new { @class = "control-label col-md-5", @style = "padding-left: 40px" })
                    <div class="col-md-5">
                        @Html.EditorFor(m => m.OverTimeRegister, new { @class = "form-control", @style = "width: 100%" })
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    noc.init = function () {
        formNoc.init();
    }

    formNoc.init = function () {
        formNoc.$el = $(formNoc.el);
        formNoc.data = $('#MinuteTimeMinus').val();
        formNoc.data = $('#StartTimeAction').val();
        formNoc.data = $('#HourTimeMinus').val();
    }

    $(function () {
        noc.init();
    });
</script>