@model StationCategoryModel
@{
    Layout = null;
}

<div class="form fixed-layout-form">
    <form data-form-type="ajax" class="form-horizontal">
        <div class="form-body">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@T("Ticket.StationCategory.AppActions.Details")</h4>
            </div>
            <div class="modal-body">
                @(Html.LocalizedEditor<StationCategoryModel, StationCategoryLocalizedModel>("lpStationCategory",
                    @<div>
                        @Html.HiddenFor(m => m.Locales[item].LanguageId)
                        <div class="form-group form-group-sm">
                            @Html.XBaseLabelFor(m => m.Locales[item].Name, true, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DisplayFor(m => m.Locales[item].Name)
                            </div>
                        </div>
                    </div>,
                    @<div>
                        <div class="form-group form-group-sm">
                            @Html.XBaseLabelFor(m => m.Name, true, new { @class = "control-label col-md-4" }, true)
                            <div class="col-md-8">
                                @Html.DisplayFor(m => m.Name)
                            </div>
                        </div>
                    </div>
                    ))
                <div class="form-group form-group-sm">
                    @Html.XBaseLabelFor(m => m.Code, true, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.Code)
                    </div>
                </div>
                @*<div class="form-group form-group-sm">
                    @Html.XBaseLabelFor(m => m.ParentId, true, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.ParentId, new { list = (IEnumerable<SelectListItem>)ViewData["categories"] })
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    @Html.XBaseLabelFor(m => m.Color, true, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.Color)
                    </div>
                </div>*@
                <div class="form-group form-group-sm">
                    @Html.XBaseLabelFor(m => m.Inactive, true, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.Inactive)
                    </div>
                </div>
            </div>
            <div class="modal-footer form-actions">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    <i class="fa fa-times"></i> @T("Common.Close")
                </button>
            </div>
        </div>
    </form>
</div>