@model StationTicketModel
@{ 
    Layout = null;
}

<script>
    var noc = {
        formNoc:{
            el: '#form-noc',
            $el: {},
            init: function() { },
            data: []
        },
        init: function () { }
    }
    
    var formNoc = noc.formNoc;
</script>

<div class="noc-detail row full-height">
    <form id="form-noc">
        <div class="row" style="margin-bottom: 5px; margin-top: 20px">
            @Html.HiddenFor(m => m.StationTicketId)
            <div class="col-md-6" style="padding: 0">
                <div class="form-group form-group-sm">
                    @Html.XBaseLabelFor(m => m.TicketArea, true, new { @class = "control-label col-md-5", @style = "padding-left: 40px" })
                    <div class="col-md-5">
                        @Html.DropDownListFor(m => m.TicketArea, Model.AvailableTicketAreas, "Vùng sự cố", new { @class = "form-control", @style = "width: 100%" })
                    </div>
                </div>
            </div>

            <div class="col-md-6" style="padding: 0">
                <div class="form-group form-group-sm">
                    @Html.XBaseLabelFor(m => m.TicketProvince, true, new { @class = "control-label col-md-5", @style = "padding-left: 40px" })
                    <div class="col-md-5">
                        @Html.DropDownListFor(m => m.TicketProvince, Model.AvailableTicketProvinces, "Tỉnh sự cố", new { @class = "form-control", @style = "width: 100%" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 5px">
            <div class="col-md-6" style="padding: 0">
                <div class="form-group form-group-sm">
                    @Html.XBaseLabelFor(m => m.EngineStartTime, true, new { @class = "control-label col-md-5", @style = "padding-left: 40px" }, true)
                    <div class="col-md-5">
                        @Html.EditorFor(m => m.EngineStartTime, new { pickTime = true, htmlAttributes = new {@class = "form-control", @style = "width: 100%"} })
                    </div>
                </div>
            </div>

            <div class="col-md-6" style="padding: 0">
                <div class="form-group form-group-sm">
                    @Html.XBaseLabelFor(m => m.EngineFinishTime, true, new { @class = "control-label col-md-5", @style = "padding-left: 40px" })
                    <div class="col-md-5">
                        @Html.EditorFor(m => m.EngineFinishTime, new { pickTime = true, htmlAttributes = new {@class = "form-control", @style = "width: 100%"} })
                    </div>
                </div>
            </div>
        </div>        

        <div class="row" style="margin-bottom: 5px">
            <div class="col-md-6" style="padding: 0">
                <div class="form-group form-group-sm">
                    @Html.XBaseLabelFor(m => m.TimeMinus, true, new { @class = "control-label col-md-5", @style = "padding-left: 40px" })
                    <div class="col-md-2" style="width: 14%">
                        @(Html.Kendo().NumericTextBox<int>()
                            .Name("HourTimeMinus")
                            .Min(0)
                            .HtmlAttributes(new {style = "width: 100%; padding: 0"})
                            .Spinners(false)
                            .Value(Model.HourTimeMinus)
                        )
                        @*@Html.EditorFor(m => m.HourTimeMinus, new { htmlAttributes = new { @class = "form-control", @style = "width: 100%; padding: 0" } })*@
                    </div>
                    <div class="col-md-2" style="width: 14%">
                        @(Html.Kendo().NumericTextBox<int>()
                            .Name("MinuteTimeMinus")
                            .Min(0)
                            .HtmlAttributes(new {style = "width: 100%; padding: 0"})
                            .Spinners(false)
                            .Value(Model.MinuteTimeMinus)
                        )
                        @*@Html.EditorFor(m => m.MinuteTimeMinus, new { htmlAttributes = new { @class = "form-control", @style = "width: 100%; padding: 0" } })*@
                    </div>
                    <div class="col-md-2" style="width: 14%">
                        @(Html.Kendo().NumericTextBox<int>()
                            .Name("SecondTimeMinus")
                            .Min(0)
                            .HtmlAttributes(new {style = "width: 100%; padding: 0"})
                            .Spinners(false)
                            .Value(Model.SecondTimeMinus)
                        )
                        @*@Html.EditorFor(m => m.SecondTimeMinus, new { htmlAttributes = new { @class = "form-control", @style = "width: 100%; padding: 0" } })*@
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    noc.init = function(){
        formNoc.init();
    }

    formNoc.init = function(){
        formNoc.$el = $(formNoc.el);
    }
    
    $(function () {
        noc.init();
    });
</script>