@model AssetCategoryModel
@{
    Layout = null;
}

<div class="form fixed-layout-form">
    <form data-form-type="ajax" class="form-horizontal">
        <div class="form-body">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@T("Asset.AssetCategories.AppActions.Edit")</h4>
            </div>
            <div class="modal-body">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)

                <div class="form-group form-group-sm">
                    @Html.XBaseLabelFor(m => m.Code, true, new { @class = "control-label col-md-4" }, true)
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
                @(Html.LocalizedEditor<AssetCategoryModel, AssetCategoryLocalizedModel>("lpAssetCategory",
                    @<div>
                        @Html.HiddenFor(m => m.Locales[item].LanguageId)
                        <div class="form-group form-group-sm">
                            @Html.XBaseLabelFor(m => m.Locales[item].Name, true, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Locales[item].Name, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>,
                    @<div>
                        <div class="form-group form-group-sm">
                            @Html.XBaseLabelFor(m => m.Name, true, new { @class = "control-label col-md-4" }, true)
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                ))
                <div class="form-group form-group-sm">
                    @Html.XBaseLabelFor(m => m.ParentId, true, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.ParentId, (IEnumerable<SelectListItem>)ViewData["categories"], "Loại tài sản", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    @Html.XBaseLabelFor(m => m.AssetType, true, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.AssetType, (IEnumerable<SelectListItem>)ViewData["assetTypes"], "Kiểu tài sản", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    @Html.XBaseLabelFor(m => m.Description, true, new { @class = "control-label col-md-4" }, true)
                    <div class="col-md-8">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    @Html.XBaseLabelFor(m => m.DepreciationDuration, true, new { @class = "control-label col-md-4" })
                    <div class="col-md-2 ml-0 pl-0">
                        @Html.EditorFor(m => m.DepreciationDuration, new { htmlAttributes = new { style = "width: 100%" } })
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownListFor(m => m.SelectedDepreciationUnit, (IEnumerable<SelectListItem>)ViewData["durations"], "Thời gian", new { @class = "form-control", @style = "width: 100px" })
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    @Html.XBaseLabelFor(m => m.WarrantyDuration, true, new { @class = "control-label col-md-4" })
                    <div class="col-md-2 ml-0 pl-0">
                        @Html.EditorFor(m => m.WarrantyDuration, new { htmlAttributes = new { style = "width: 100%" } })
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownListFor(m => m.SelectedWarrantyUnit, (IEnumerable<SelectListItem>)ViewData["durations"], "Thời gian", new { @class = "form-control", @style = "width: 100px" })
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    @Html.XBaseLabelFor(m => m.Inactive, true, new { @class = "control-label col-md-4" }, true)
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.Inactive)
                    </div>
                </div>
            </div>
            <div class="modal-footer form-actions">
                <button type="submit" class="btn blue btn-sm">
                    <i class="fa fa-spinner fa-spin spin-submit"></i>
                    <i class="fa fa-check"></i> @T("Common.Save")
                </button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    <i class="fa fa-times"></i> @T("Common.Close")
                </button>
            </div>
        </div>
    </form>
</div>

