@using Kendo.Mvc.UI
@using Newtonsoft.Json

@using VTQT
@using VTQT.Core
@using VTQT.Core.Infrastructure
@using VTQT.Core.Localization
@using VTQT.Core.Logging
@using VTQT.Services
@using VTQT.Services.Localization
@using VTQT.Web.Framework
@using VTQT.Web.Framework.Extensions
@using VTQT.Web.Framework.Filters
@using VTQT.Web.Framework.Helpers
@using VTQT.Web.Framework.Security
@using VTQT.Web.Framework.UI

@using Microsoft.AspNetCore.Routing

@inject ILocalizationService tt
@inject IAppContext appContext

@{
    var cdn = appContext.CurrentApp.CdnUrl;
    var noImageUri = PathHelper.Images.Common.NoImage.CombineBaseUri(cdn).ToString();
}

@functions {
    private string _id;
    private string Id
    {
        get
        {
            if (!string.IsNullOrEmpty(_id))
                return _id;
            var id = ViewData["id"];
            if (id != null)
            {
                _id = Convert.ToString(id);
            }
            return _id;
        }
    }

    private string _value;
    private string Value
    {
        get
        {
            if (!string.IsNullOrEmpty(_value))
                return _value;
            if (ViewData.Model != null)
            {
                _value = Convert.ToString(ViewData.Model);
            }
            return _value;
        }
    }

    private string _uploadUrl;
    private string UploadUrl
    {
        get
        {
            if (!string.IsNullOrEmpty(_uploadUrl))
                return _uploadUrl;
            var uploadUrl = ViewData["uploadUrl"];
            if (uploadUrl != null)
            {
                _uploadUrl = Convert.ToString(uploadUrl);
            }
            return _uploadUrl;
        }
    }
}

@{
    var id = !string.IsNullOrEmpty(Id) ? Id : Html.IdForModel();
    var imageUrl = string.IsNullOrEmpty(Value) ? "" : Value;

    const string containerCssClass = "imgupload-container";
    const string dragoverCssClass = "imgupload-container dragover";
}

@if (!string.IsNullOrEmpty(UploadUrl))
{
    <div id="@(id)_Container" class="@containerCssClass">
        @Html.Hidden("", Value, new { id = id })
        <table>
            <tbody>
                <tr>
                    <td>
                        <div class="imgupload-thumbnail">
                            <img id="img_@id" src="@(!string.IsNullOrEmpty(Value) ? Value : noImageUri)" alt="" />
                        </div>
                    </td>
                    <td style="width:100%">
                        <div class="imgupload-actions">
                            <button id="btnDelete_@id" type="button" class="btn btn-default btn-sm" style="display: none; margin-right: 3px;"><i class="fa fa-trash-o font-red"></i> @tt.GetResource("Common.Delete")</button>
                            <button id="btnUndo_@id" type="button" class="btn btn-default btn-sm" style="display: none; margin-right: 3px;"><i class="fa fa-undo font-yellow"></i> @tt.GetResource("Common.Restore")</button>
                            <button id="btnUpload_@id" type="button" class="btn btn-default btn-sm"><i class="fa fa-upload font-blue"></i> @tt.GetResource("Common.Upload")</button>
                            <button id="btnCancel_@id" type="button" class="btn btn-default btn-sm" style="display: none;"><i class="fa fa-times font-red"></i> @tt.GetResource("Common.Cancel")</button>
                            <div id="progressContainer_@id" class="imgupload-progress" style="display: none;">
                                <div class="progress progress-striped active">
                                    <div id="progress_@id" class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 0;">
                                        0%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="imgupload-description">
                            @tt.GetResource("Notifies.AllowFileUpload") <b>.png, .jpg, .gif, .jpeg.</b>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        $(function () {
            var $file = $('#@id');
            var imageUrl = '@imageUrl';
            var $img = $('#img_@id');
            var $btnUpload = $('#btnUpload_@id');
            var $btnDelete = $('#btnDelete_@id');
            var $btnUndo = $('#btnUndo_@id');
            var $btnCancel = $('#btnCancel_@id');
            var $progressContainer = $('#progressContainer_@id');
            var $progress = $('#progress_@id');
            var $uploadContainer = $('#@(id)_Container');

            if (imageUrl !== '')
                $btnDelete.show();

            var uploader = new plupload.Uploader({
                multi_selection: false,
                dragdrop: true,
                drop_element: '@(id)_Container',
                unique_names: true,
                runtimes: 'html5,flash,silverlight,html4',
                browse_button: 'btnUpload_@id',
                container: document.getElementById('@(id)_Container'),
                url: "@UploadUrl",
                filters: {
                    max_file_size: '5mb',
                    mime_types: [
                        { title: "Image files", extensions: "jpg,gif,png,jpeg" }
                    ]
                },
                multipart_params: {
                },
                file_data_name: "file",
                flash_swf_url: '@cdn/Content/assets/global/plugins/plupload/Moxie.swf',
                silverlight_xap_url: '@cdn/Content/assets/global/plugins/plupload/Moxie.xap',
                init: {
                    PostInit: function () {
                    },
                    FilesAdded: function (up, files) {
                        $btnDelete.hide();
                        $btnUpload.hide();
                        $btnCancel.show();

                        $progress.css('width', '0');
                        $progress.html('0%');
                        $progressContainer.show('fade');

                        uploader.start();
                    },
                    UploadProgress: function (up, file) {
                        $progress.css('width', file.percent + '%');
                        $progress.html(file.percent + '%');
                    },
                    FileUploaded: function (up, file, res) {
                        $btnCancel.hide();
                        $progressContainer.fadeOut(2000);
                        $btnUpload.fadeIn(1000);

                        var msg = $.parseJSON(res.response);
                        if (!msg.HasError) {
                            $btnUndo.hide();

                            $file.val(msg.Data.Path);
                            if ('@imageUrl'.toString() === '')
                                imageUrl = msg.Data.Path;
                            $img.attr('src', msg.Data.Path);

                            $btnDelete.fadeIn(1000);
                        }
                        else
                            alert(msg.Message);
                    },
                    Error: function (up, err) {
                        alert('#' + err.code + ': ' + err.message);
                    }
                }
            });

            uploader.bind('Init', function (up, params) {
                if (uploader.features.dragdrop) {
                    $uploadContainer.on('dragover', function (e) {
                        this.className = "@dragoverCssClass";
                        e.originalEvent.dataTransfer.dropEffect = "copy";
                    });
                    $uploadContainer.on('dragenter', function (e) {
                        this.className = "@dragoverCssClass";
                    });
                    $uploadContainer.on('dragleave', function (e) {
                        this.className = "@containerCssClass";
                    });
                    $uploadContainer.on('drop', function (e) {
                        this.className = "@containerCssClass";
                    });
                }
            });

            uploader.init();

            $btnCancel.click(function (e) {
                uploader.stop();

                $btnCancel.hide();
                $progressContainer.fadeOut(2000);
                $btnUpload.fadeIn(1000);
                if ($file.val() !== '')
                    $btnDelete.fadeIn(1000);
            });
            $btnDelete.click(function (e) {
                $file.val('');
                $img.attr('src', '@noImageUri');
                $btnDelete.hide();
                if (imageUrl !== '')
                    $btnUndo.show();
            });
            $btnUndo.click(function (e) {
                if (imageUrl !== '') {
                    $btnUndo.hide();
                    $file.val(imageUrl);
                    $img.attr('src', imageUrl);
                    $btnDelete.show();
                }
            });
        });
    </script>
}
