@model ConfirmCRMxSearchModel

@{
    Layout = null;
}

<script>
    var confirmMx = {
        grd: {
            el: '#confirmMx_grd',
            $el: {},
            init: function () { },
            api: {},
            tmp: {
                activate: function (activate) { }
            },
            data: function () { }
        },
        btnAdd: {
            el: '#btnAddConfirmMx',
            $el: {},
            init: function () { }
        },
        btnRemove: {
            el: '#btnRemoveConfirmMx',
            $el: {},
            init: function () { }
        },
        init: function () { },
        activates: function (activate, ids) { }
    }

    var confirmMxGrd = confirmMx.grd;
    var btnAddConfirmMx = confirmMx.btnAdd;
    var btnRemoveConfirmMx = confirmMx.btnRemove;

    confirmMxGrd.data = function () {
        var searchModel = {
            CrMxId: '@Model.CrMxId'
        };

        return searchModel;
    };
</script>

<div class="row" style="overflow: hidden">
    <script id="toolbar-confirmCRMx" type="text/x-kendo-template">
        <div class="toolbar" style="line-height: 28px; font-size: 12px; font-weight: 600; font-family: TahomaCustom, Arial, sans-serif !important; color: \\#23527c">
            <span style="padding-left: 20px">Danh sách xác nhận</span>
        </div>
        <div class="toolbar" style="display: inline-block; margin-right: 0; margin-left: auto">
            <a id="btnAddConfirmMx" class="btn btn-default btn-sm" href="javascript:void(0)" style="min-width: 80px"><i class="flaticon2-plus green"></i> Thêm xác nhận</a>
            <a id="btnRemoveConfirmMx" class="btn btn-default btn-sm" href="javascript:void(0)" style="min-width: 80px"><i class="flaticon-delete red"></i> Xóa (Đã chọn)</a>
        </div>
    </script>
    @(Html.Kendo().Grid<ConfirmCRMxModel>()
        .Name("confirmMx_grd")
        .HtmlAttributes(new {style = "border: 1px solid lightgray" })
        .Columns(columns =>
        {
            columns.Select().Locked().Width(30);
            columns.ForeignKey(x => x.Approver, (System.Collections.IEnumerable)ViewData["ApproverCR"] ?? new List<SelectListItem>(), "Value", "Text").Width(350);
            columns.ForeignKey(x => x.Progress, (System.Collections.IEnumerable)ViewData["progress"] ?? new List<SelectListItem>(), "Value", "Text").Width(350);
            columns.Bound(x => x.ReasonDetail).Width(350);
        })
        .ToolBar(toolbar => { toolbar.ClientTemplateId("toolbar-confirmCRMx"); })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(int.MaxValue)
            .ServerOperation(false)
            .Read(read => read.Action("GetConfirmCRMx", "CRMx").Data("confirmMxGrd.data"))
        )
        .NoRecords()
        .Scrollable(scr => scr.Enabled(true))
        .Pageable(pageable => pageable.Enabled(false))
        .Selectable(selectable => selectable.Type(GridSelectionType.Row).Mode(GridSelectionMode.Multiple))
        .Navigatable())
</div>

<script>
    confirmMx.init = function () {
        confirmMxGrd.init();
        btnAddConfirmMx.init();
        btnRemoveConfirmMx.init();
    };

    confirmMxGrd.init = function () {
        confirmMxGrd.$el = $(confirmMxGrd.el);
        confirmMxGrd.api = confirmMxGrd.$el.data('kendoGrid');
    };

    confirmMx.activates = function(activate, ids) {
        ids = ids || confirmMxGrd.api.selectedIds();
        if (ids.length > 0) {

        } else {
            notify({ text: '@T("Notifies.NoItemsSelected").JavaScriptStringEncode()', type: 'info' });
        }
    };

    btnAddConfirmMx.init = function () {
        btnAddConfirmMx.$el = $(btnAddConfirmMx.el);
        btnAddConfirmMx.$el.click(function (e) {
            app.window.form.open({
                url: '@Url.Action("AddConfirmCRMx")', options: {width: '500px'}, callback: function (){
                    var confirmCRMx = window.frmAddConfirmMx.$el.serializeObject();
                    var accepted = $('#Confirm').is(':checked');
                    confirmCRMx.Confirm = accepted;

                    confirmMxGrd.api.dataSource.insert(confirmCRMx);

                    //Close form add item
                    window.frmAddConfirmMx.winForm.close();
                }
            });
        });
    };

    btnRemoveConfirmMx.init = function () {
        btnRemoveConfirmMx.$el = $(btnRemoveConfirmMx.el);
        btnRemoveConfirmMx.$el.click(function (e) {
            var selectedItems = confirmMxGrd.api.selectedRows();
            if (selectedItems.length > 0) {
                app.window.confirm.open({
                    callback: function () {
                        $.each(selectedItems,
                            function(i, x) {
                                if (x) {
                                    confirmMxGrd.api.removeRow(x);
                                }
                            });
                    }
                });
            } else {
                notify({ text: '@T("Notifies.NoItemsSelected").JavaScriptStringEncode()', type: 'info' });
                return false;
            }
        });
    };

    confirmMxGrd.tmp.activate = function (activate) {
        return activate ? '<i class="fa fa-check green"></i>' : '<i class="fa fa-times" style="color: red"></i>';
    };

    $(function () {
        confirmMx.init();
    });
</script>

